@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form .label{
  @apply mt-4 mb-2 inline-block;
}

form .support{
  @apply mt-2;
}

hr {
  @apply my-6;
}

h1.heading {
  @apply mb-2;
}

button.button.button-big{
  @apply w-full p-4 text-center my-6 block;
}

.portal {
  @apply items-center;
}

.aside {
  @apply mb-6;
}